.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.home-d{
    font-size: 60px;
}

@media screen and (max-width: 860px) {
    .home-d {
        font-size: 30px
    }
}